.contents_container {
  margin: 0 22em;
  min-height: 50em;
}

.actionBtn_container {
  display: flex;
  justify-content: flex-end;
}

.project_info {
  margin: -1em auto;
}

.project_info_left {
}

.project_info_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.project_contents {
  font-size: 1.2em;
  font-weight: 500;
  white-space: pre-wrap;
}

.project_img {
  display: flex;
  justify-content: center;
}
