.list_container {
  margin: 0 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20em;
}

.table_row:hover {
  cursor: pointer;
}

.createBtn {
  text-align: end;
  margin: 2em auto;
  margin-right: 1em;
}
